<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="schoolmanagementConnectionString" connectionString="Data Source=PRASHANT\SQLEXPRESS;Initial Catalog=testDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="CRUDPrashant">
        <endpoint address="" behaviorConfiguration="restfulBehavior" binding="webHttpBinding" bindingConfiguration="" contract="ICRUDPrashant"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:26376/DDServices.svc/CRUDPrashant"/>
          </baseAddresses>
        </host>
      </service>
    <service name="GeolocationService">
       <endpoint address="" behaviorConfiguration="restfulBehavior" binding="webHttpBinding" bindingConfiguration="" contract="IGeolocationService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:26376/DDServices.svc/GeolocationService"/>
          </baseAddresses>
        </host>
    </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>